{% load static %}
<div class="CategoriesButton">
    <div class="CategoriesButton-title">
        <div class="CategoriesButton-icon">
            <img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg">
        </div>
        <span class="CategoriesButton-text">Все категории</span>
        <div class="CategoriesButton-arrow">
        </div>
    </div>
    <div class="CategoriesButton-content">
        {% for category in categories %}
            {% if not category.parent %}
                <div class="CategoriesButton-link">
                    <a href="{% url 'shop:catalog_list' category.pk %}">
                        <div class="CategoriesButton-icon">
                            {% if category.icon %}
                                <img src="{{ category.icon.url }}" alt="{{ category.icon.name }}">
                            {% endif %}
                        </div>
                        <span class="CategoriesButton-text">{{ category.name }}</span>
                        <a class="CategoriesButton-arrow" href="#"></a>
                    </a>
                    <div class="CategoriesButton-submenu">
                       {% if category.has_children %}
                            {% for child in category.children.all %}
                                {% if child in categories %}
                                    <div class="CategoriesButton-link">
                                        <a href="{% url 'shop:catalog_list' child.pk %}">
                                            <span>{{ child.name }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
