{% extends "base.html" %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block middle %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">

                <div class="Section-content">

                    <form class="form" action="{% url 'orders:delivery' %}" method="post">
                        <div class="Order-block" id="step4">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                                </h2>
                            </header>
                            <!--+div.Order.-confirmation-->
                            <div class="Order-infoBlock">
                                <div class="Order-personal">
                                    <div class="row">
                                        <div class="row-block">
                                            <div class="Order-info">
                                                <div class="Order-infoType">ФИО:
                                                </div>
                                                <div class="Order-infoContent">Иванов Иван Иванович
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Телефон:
                                                </div>
                                                <div class="Order-infoContent">+7000000000
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">E-mail:
                                                </div>
                                                <div class="Order-infoContent">send@test.test
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-block">
                                            <div class="Order-info Order-info_delivery">
                                                <div class="Order-infoType">Тип доставки:
                                                </div>
                                                <div class="Order-infoContent">Обычная доставка
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Город:
                                                </div>
                                                <div class="Order-infoContent">Москва
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Адрес:
                                                </div>
                                                <div class="Order-infoContent">Ул. Академика Арцимовича, д. 10, кв. 10
                                                </div>
                                            </div>
                                            <div class="Order-info Order-info_pay">
                                                <div class="Order-infoType">Оплата:
                                                </div>
                                                <div class="Order-infoContent">Онлайн картой
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block">
                                    <button class="btn btn_primary btn_lg" type="submit">Оплатить
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}